

#logoNav{
    margin-top: -30px;
}
.dropdown-menu{
top:75%;
background-color: #303137;
border: 0;
width:auto;
}

.dropdown-menu a{
    font-size: smaller !important;
}
.bg-dark{
    background-color:#303136 !important;
}